body {
background-color: #1a1a1a;
color: white;
padding: 50px;
font: .9rem "Lucida Grande", Helvetica, Arial, sans-serif;
font-weight: 100;
}
a {
color: #00B7FF;
}
#content {
width: 80%;
margin-left: auto;
margin-right: auto;
}
#room {
background-color: #ddd;
margin-bottom: 1em;
}
#messages {
width: 80%;
height: 450px;
overflow: auto;
background-color: #eee;
margin-bottom: 1em;
margin-right: 10px;
}
#room-list {
float: right;
width: 20%;
height: 450px;
overflow: auto;
}
#room-list div {
border-bottom: 1px solid #eee;
}
#room-list div:hover {
background-color: #ddd;
}
#send-message {
width: 80%;
margin-bottom: 1em;
margin-right: 1em;
}
#help {
font: .7rem "Lucida Grande", Helvetica, Arial, sans-serif;
}